---
import BaseLayout from '../layouts/BaseLayout.astro'

interface Props {
  frontmatter: {
    title: string
    description?: string
    date?: Date
  }
}

const { frontmatter } = Astro.props as Props
---

<BaseLayout>
  <article>
    <h1>{frontmatter.title}</h1>
    {frontmatter.date && <time>{frontmatter.date.toLocaleDateString()}</time>}
    <slot />
  </article>
</BaseLayout>
